body {
    background-image: url('../img/background.jpg');
}

#main {
    margin: auto;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
}

#nav-bar {
    display: inline-flex;
}

#rated {
    margin-left: 50px;
    text-decoration: underline;
}

#watchlist {
    margin-right: 20px;
    text-decoration: underline;
}


#main-heading {
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

#search {
    text-align: center;
    padding-top: 20px;
}

#searchMovie {
    background: rgb(212, 208, 208);
    border: none;
    padding: 5px;
    border-radius: 12px;
    margin: 5px;
    width: 70px;
}

#addWatchlist {
    background: green;
    border: none;
    padding: 5px;
    border-radius: 12px;
    width: 150px;
    box-shadow: 0.2px 4px 5px rgb(27, 27, 27);
}

#like {
    background: green;
    box-shadow: 0.2px 4px 5px rgb(27, 27, 27);
    border: none;
    border-radius: 12px;
    margin-left: 10px;
    padding: 5px;
    width: 50px;
}

#movie-name{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border-style: none;
    background: rgb(212, 208, 208);
}

#container {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    
}

#add-a-show {
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    justify-content: center;
    margin: auto;
}

.show-name {
    border-radius: 5px;
    padding: 7px;
    margin: 7px;
    border: none;
    background: rgb(212, 208, 208);
}

.cover-image {
    border-radius: 5px;
    padding: 7px;
    margin: 7px;
    border: none;
    background: rgb(212, 208, 208);
}

.description {
    border-radius: 5px;
    padding: 7px;
    margin: 7px;
    border: none;
    background: rgb(212, 208, 208);
}

.submit {
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    border: none;
    background: rgb(212, 208, 208);
    border-radius: 12px;
}

.list {
    list-style-type: none;
}